html,body{
    width: 100%;
    max-width: 100%;
}
.h1-custom{
    font-size: 52px;
    color: #F5F5F5;
    font-family: 'Arial Rounded MT Bold';
    padding: 20px;
    margin: 0px;
 }
.navbar-mycustom {
    background-color: #336B87;
    border-color: #E7E7E7;
    border-radius: 0;
}
.color-white{
    color: white;
}
.body-custom{
    padding-left: 0 !important;
    padding-right: 0;
}
.btn-style:hover{

    transition: 1.3s ease;

}

.overskrift {
    padding-left: 15px;
}
.custom-btn{
    background-color: black;
    transition: .1s ease;
}
.custom-btn:hover{
    background-color: gray;
}
.temp-style{
    font-size: 98px;
}
.custom-menu-button{
    background-color: #212121;
    border-radius: 0px;
}
.menu-item-style a > i{
    color: #2196F3;
}
.menu-list li a{
    border: none;
}
.menu-list li a:hover{
    border: none;
    background-color: #424242;
}

