
<h1 class="text-center">5 dags prognose</h1>
<br>
<div class="jumbotron">

    <div class="container col-md-offset-1">

        {% for user in Data %}
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style=" margin-left: 5px; ">
                <h6>{{ user.Day }}</h6>
                <p>{{ user.Temp }} °C</p>
            </div>
        {% endfor %}

    </div>

</div>



</div>