

<link rel="stylesheet" href="MyStyleSheet.css"/>
<h1 class="text-center">5 dags prognose</h1>
<br>


<div class="container col-md-12" style="background-color: darkgrey;">

        {% for user in Data %}
            <div style="float: left; width: 20%; text-align: center;">
                <p style="font-size: 1.2em;">{{ user.Day }}</p>
                <p style="font-size: 20px; padding-top: 20px;">{{ user.Temp }} °C</p>
            </div>
        {% endfor %}

</div>



