<h2>{{ Title }}</h2>

    <p>Herunder kan det ses hvilken temperatur der er i lokalerne på EASJ, fra den sidste temperatur måling</p>
    <hr>
<h3>Lokaler på EASJ:</h3>

    <div>
        <b>Læreværelse</b>
        <p>Sidste måling fra dette lokale er {{ Lokale1.Data }}°C</p>

    </div>



