<link rel="stylesheet" href="MyStyleSheet.css">
<h1 class="text-center">Statistik</h1>
<div class="row">
            <form method="post"><!--Gennemsnit på en valgt dato-->
                <h4 class="overskrift">Specifik dag:</h4>
                <div class="form-group col-xs-3 col-sm-4 col-md-4 col-lg-4">
                    <label for="singledato">Dato:</label><!--vi skal fra databasen vælge alt der har med den valgte dato vi kan måske lave det som en kalender -->
                    <!--<form action="../inc/statistik.php" method="post">-->
                    <input type="text" name="date1" id="da" alt="date" class="IP_calendar" title="d/m/Y">
                    <!--</form>-->
                </div>
                <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label for="lokalenrsingledato">Lokale:</label>
                    <select name="lokaler" id="lokalenrsingledato" class="form-control">
                        <!--vi skal tjække disse rum ud fra databasen-->
                        <option type="text"  name="room2">Lærerværelse</option>
                    </select>
                </div><br><br><br><br>
                <div class="col-lg-3">
                <!--<input type="submit" value="Beregn" class="btn btn-primary">-->
                    <input type="submit" value="Beregn" class="btn btn-primary">

                    </div>
                <div class=" col-lg-3 alert alert-info">
                    <p>Resultat: {{ response1 }} </p>
                </div>
                <div class="col-lg-9"></div>
            </form>
</div>

<div class="row">
            <form method="post">
                <hr>
                <h4 class="overskrift"> Periode:</h4>
                <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label for="singledato">Start dato:</label><!--vi skal fra databasen vælge alt der har med den valgte dato vi kan måske lave det som en kalender -->
                    <input type="text" name="dateFra" id="da" alt="date" class="IP_calendar" title="d/m/Y">
                </div>
                <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label for="singledato">Slut dato:</label><!--vi skal fra databasen vælge alt der har med den valgte dato vi kan måske lave det som en kalender -->
                    <input type="text" name="dateTil" id="da" alt="date" class="IP_calendar" title="d/m/Y">
                </div>
                <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label for="lokalenrtwodato">Lokale:</label>
                    <select name="lokaler" id="lokalenrtwodato" class="form-control">
                        <!--vi skal tjække disse rum ud fra databasen-->
                        <option type="text"  name="room2">Læreværelset</option>
                    </select>
                </div>

                <div class="col-lg-3" >
                    <input type="submit" value="Beregn" class="btn btn-primary btn-style">
                </div>
                <div class=" col-lg-3 alert alert-info">
                    <p>Resultat: {{ response2 }}</p>
                </div>
                <div class="col-lg-9"></div>

                <hr>
            </form>
    </div>




